@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
    --myFucking-white: #f6f8fd;
    --myFucking-white-50: #f6f8fdc9;
    --myFucking-black: #34364a;
    --myFucking-dark: #34364a;
    --myFucking-green: #47BB8E;
    --myFucking-green-50: #47bb8eb8;
    --myFucking-blue: #2447F9;
    --myFucking-blue-50: #2448f9bf;
    --myFucking-silver: #E5E9F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 100px 0;
}

body {
    background: var(--myFucking-white);
    color: var(--myFucking-dark);
}